{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 80,
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": "./store/api/*.ts",
      "options": {
        "printWidth": 120
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
